.table-container {
  display: table;
}
.table-head {
  display: table-header-group;
}
.table-body {
  display: table-row-group;
}
.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  white-space: nowrap;
  padding: 5px 10px;
}

.expander {
  cursor: pointer;
}